
body{
    margin: 0px;
    display: flex;
    font-family: 'Mulish', sans-serif;
}
aside{
    width: 30%;
}
main{
    width: 70%;
}

header{
    display: flex;
    justify-content: space-between;
}

.container{
    display: flex;
}

.sub-container{
    background-color:  rgb(201, 201, 201);
    margin: 4px;
}
.sub-container:nth-child(1){
    width: 40%;
}

.sub-container:nth-child(2){
    width: 60%;
}
.menu{
    background-color:  rgb(201, 201, 201);
    border-radius: 20px;
    flex-direction: column;

}
.logo{
    position: relative;
    top: 20px;
    left: 20px;
    font-size: large;

}
.adm{
    position: relative;
    top: 40px;
    left: 20px;
    color: aqua;
}

.dashboard{
    position: relative;
    top: 50px;
    left: 20px;
    font-size: larger;
}

.mensagens{
    position: relative;
    top: 70px;
    left: 20px;
    font-size: larger;
}
.social{
    position: relative;
    top: 90px;
    left: 20px;
    font-size: larger;
}

.documentos {
    position: relative;
    top: 110px;
    left: 20px;
    font-size: larger;
}
.settings{
    position: relative;
    top: 140px;
    left: 20px;
    color: aqua;
}
.roles{
    position: relative;
    top: 160px;
    left: 20px;
    font-size: larger;
}

.request{
    position: relative;
    top: 180px;
    left: 20px;
    font-size: larger;
}

.preferences{
    position: relative;
    top: 200px;
    left: 20px;
    font-size: larger;
}

.perfil{
    height: 60px;
    width: 60px;
    background-color: rgb(201, 201, 201)gray;
    border-radius: 50%;
}

.info-card{
    width: 25%;
    height: 120px;
    background-color:  rgb(201, 201, 201);
    margin: 4px;
}

.breadcrumb{
    height: 16px;
    width: 100%;
    background-color:  rgb(201, 201, 201);
    margin: 4px 0;
}

.product-card{
    width: 100%;
    height: 200px;
    background-color:  rgb(201, 201, 201);
    margin: 4px 0;
}

.transaction-card{
    width: 100%;
    height: 200px;
    background-color:  rgb(201, 201, 201);
    margin: 4px 0;
}
.transactions{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 75%;
    margin-left: 85px;

}
.quadrado-transactions{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(201, 201, 201);
    margin: 4px 4px 4px;
    
}
h3 {
    
    margin-left: 20px; 
    margin-top: 15px;
}
li{
    margin-bottom: 50px;
}
h4 {
    margin-left: 30px;
    margin-top: 50px;
}
b{
    margin-left: 10px;
    font-size: smaller;
    margin-bottom: 2px;
    width: 100%;


}

string{
    color: orangered;
}
.titulo-card{
    margin-left: 10px;
    font-size: small;
    margin-top: -30px;
    text-align: left;
    
}
.texto-card{
    height: 70%;
    width: 95%;    
    margin-left: 5px;
    text-align: center;
    margin-bottom: 0px;
    font-weight: 500;
    margin-top: 30px;
    font-size: larger;}

    .especial-info{
    margin-left: 5px;
    height: 70%;
    width: 95%;    
    text-align: center;
    margin-bottom: 0px;
    font-weight: 500;
    margin-top: 10px;
}
.especial-info2{
    margin-left: 10px;
    font-size: small;
    text-align: left;
    margin-top: -10px;
}
.info-transactions{
    font-size: small;
    margin-left: 10px;
    margin-top: 0pxpx;
}
.info-transactions2{
    font-size: small;
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    margin: 4px 4px 4px;
    background-color: aquamarine;
    text-align: right;
    
}
.grafico1{
    margin-left: 15px;
}
<p class="info-transactions2"><string>Feito</string></p> 
<p class="info-transactions2">Pendente</p>
<p class="info-transactions2">Pendente</p>
<p class="info-transactions2"><string>Feito</string></p>
<p class="info-transactions2">Pendente</p>
<p class="info-transactions2">Pendente</p>
<p class="info-transactions2"><string>Feito</string></p>
