
body{
    margin: 0px;
    display: flex;
    font-family: 'Mulish', sans-serif;
}
aside{
    width: 30%;
}
main{
    width: 70%;
}

header{
    display: flex;
    justify-content: space-between;
}

.container{
    display: flex;
}

.sub-container{
    background-color:  rgb(201, 201, 201);
    margin: 4px;
}
.sub-container:nth-child(1){
    width: 40%;
}

.sub-container:nth-child(2){
    width: 60%;
}
.menu{
    background-color:  rgb(201, 201, 201);
    border-radius: 20px;
    flex-direction: column;
    position: relative;
    height: 1760px;

}
.logo{
    position: relative;
    top: 20px;
    left: 20px;
    font-size: large;

}
.adm{
    position: relative;
    top: 40px;
    left: 20px;
    color: aqua;
}

.dashboard{
    position: relative;
    top: 50px;
    left: 20px;
    font-size: larger;
}

.mensagens{
    position: relative;
    top: 70px;
    left: 20px;
    font-size: larger;
}
.social{
    position: relative;
    top: 90px;
    left: 20px;
    font-size: larger;
}

.documentos {
    position: relative;
    top: 110px;
    left: 20px;
    font-size: larger;
}
.settings{
    position: relative;
    top: 140px;
    left: 20px;
    color: aqua;
}
.roles{
    position: relative;
    top: 160px;
    left: 20px;
    font-size: larger;
}

.request{
    position: relative;
    top: 180px;
    left: 20px;
    font-size: larger;
}

.preferences{
    position: relative;
    top: 200px;
    left: 20px;
    font-size: larger;
}

.perfil{
    display: inline-flex;
    justify-content: center;
    height: 60px;
    width: 200px;
}

.perfil img{
    padding-top: 5px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.perfil p {
    padding-left: 15px;
    font-size: small;
}

.info-card{
    width: 25%;
    height: 120px;
    background-color:  rgb(201, 201, 201);
    margin: 4px;
}

.breadcrumb{
    height: 16px;
    width: 100%;
    margin: 4px 0;
    
}

.product-card{
    width: 100%;
    height: 200px;
    background-color:  rgb(201, 201, 201);
    margin: 4px 0;
}

.transaction-card{
    width: 100%;
    height: 200px;
    background-color:  rgb(201, 201, 201);
    margin: 4px 0;
    display: flex;
    flex-direction: row;
}
.transactions{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 75%;
    

}
.quadrado-transactions{
    height: 30%;
    display: flex;
    flex-direction: column;
    background-color: rgb(201, 201, 201);
    margin: 4px 4px 4px;
    
}
.sub-transactions:nth-child(1){
    width: 40%;
}
h3 {
    
    margin-left: 20px; 
    margin-top: 15px;
}
li{
    margin-bottom: 50px;
}
h4 {
    margin-left: 30px;
    margin-top: 50px;
}
b{
    margin-left: 10px;
    font-size: smaller;
    margin-bottom: 2px;
    width: 100%;
}

string{
    color: orangered;
}
.titulo-card{
    margin-left: 10px;
    font-size: small;
    margin-top: -30px;
    text-align: left;
    
}
.texto-card{
    height: 50%;
    width: 95%;    
    margin-left: 5px;
    text-align: center;
    margin-bottom: 0px;
    font-weight: 500;
    margin-top: 30px;
    font-size: larger;}

    .especial-info{
    margin-left: 5px;
    height: 70%;
    width: 95%;    
    text-align: center;
    margin-bottom: 0px;
    font-weight: 500;
    margin-top: 10px;
}
.especial-info2{
    margin-left: 10px;
    font-size: small;
    text-align: left;
    margin-top: -10px;
}
.info-transactions{
    margin-left: 10px;
    margin-top: 0px;
    flex-direction: column;
    display: flex;
    width: 150px;
    font-size: small;
    justify-content: center;
    
}
.info-transactions2{
    font-size: small;
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    margin: 4px 4px 4px;
    background-color: aquamarine;
    text-align: right;
    
}
.breadcrumb {
    padding: 0 .5rem;
}

.breadcrumb ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
    
.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 0 .25rem;
    content: "→";
}
.input{
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgb(255, 255, 255);
  width: 80%;
}
input{
    position: relative;
    width: 80%;
    left: 20px;
}
.lupa{
    position: relative;

}
.produtos{

    
}
.produto1{
    position: relative;
    left: 5%;
    top:10%
}
.produto2{
    position: relative;
    left: 50%;
    top: -50px

}
.up{
    font-size: small;
}
.num{
    font-size: xx-large;
}
